// Navigation Styles here
.navigation{
    display: flex;
    justify-content: center;
    padding: 25px 0;
    border-bottom: 2px dashed @navigation-border;
    h1{
        margin-right: 100px;
    }
    nav{
        margin-left: 250px;
        justify-content: end;
        align-self:center;
        a{
        margin-right: 15px;
        text-decoration: none;
        font-size: 1.8rem;
        font-weight: 600;
        color: black;
        }
        }
    }
